container {
  width: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/Monet_-_Impression%2C_Sunrise.jpg/2560px-Monet_-_Impression%2C_Sunrise.jpg");
  background-size: cover;
}

:root {
  --bs-border-color: transparent;
}

h1 {
  margin-top: 20px;
  font-size: 40px;
  font-weight: 400;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.weather-total {
  max-width: 500px;
  margin: 20px auto;
  padding: 50px;
  border-color: transparent;
}
.border {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.35);
  padding: 50px;
}
.col-8 {
  flex: 0 0 auto;
  width: 70%;
}

.col-2 {
  display: flex;
  flex: 0 0 auto;
  width: 15%;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-outline-secondary {
  --bs-btn-color: #fff;
  --bs-btn-border-color: #fff;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #6c757d;
  --bs-btn-hover-border-color: #6c757d;
  --bs-btn-focus-shadow-rgb: 108, 117, 125;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #6c757d;
  --bs-btn-active-border-color: #6c757d;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #6c757d;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #6c757d;
  --bs-gradient: none;
}

.data-display {
  margin-left: -9px;
  margin-right: -9px;
}

#description {
  text-align: right;
}

.box-2 {
  margin-top: 20px;
  font-size: 16px;
  margin-left: -9px;
}

.temperature {
  text-align: center;
  margin-bottom: 50px;
  margin-left: 100px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  font-weight: 200;
}
.value {
  font-size: 90px;
  font-weight: 500;
}

.unit {
  position: relative;
  top: 29px;
}
.box-3 {
  text-align: center;
  margin: 30px auto;
}

ul {
  margin: 0 0 20px 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

small {
  font-size: smaller;
  box-shadow: 0;
}

hr {
  color: #fff;
}
